
.form {
    display:grid;
margin-top: 20px;
}



.title {
    margin-bottom: 10px;
}

.input {
    height:40px;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color:#F5F4F7 ; 
    border: none;
}

.textarea {
    min-height:150px;
}

.cancel {
    background-color:rgb(255, 147, 128);
    border: none;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
}

.cancel:hover {
    background-color:rgb(255, 120, 96);
    cursor: pointer;
}

.add {
    background-color:rgb(218, 252, 218);;
    border: none;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
}

.add:hover {
    background-color: rgb(188, 252, 188);
    cursor: pointer;
}

