.form {
    display: grid;
    margin-top: 20px;
}

.title {
    margin-bottom: 10px;
}

.cancel {
    background-color: var(--delete);
    border: none;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
}

.cancel:hover {
    background-color: var(--deleteHover);
    cursor: pointer;
}

.add {
    background-color: var(--add);
    border: none;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
}

.add:hover {
    background-color: var(--addHover);
    cursor: pointer;
}