.wrapper {
    display: grid;
    grid-template-columns: auto 200px;
    background-color:white;
    padding: 10px 20px;
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
}

.logo:hover {
cursor: pointer;
}