.wrapper {
    min-width: 500px;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.title {
    margin-bottom: 30px;
    color:rgb(37, 37, 37)
}

.form {
    display:grid;
/* border: 1px solid green; */
}

.input {
    height:40px;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    /* border: 1px solid rgb(100, 100, 100);; */
    border: none;
}

.submit {
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(228, 228, 228)
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209)
}