.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.button {
    background-color: var(--delete);
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--deleteHover);
    cursor: pointer;
}