.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.button {
    background-color: rgb(255, 141, 121);
    border: none;
    border-radius: 5px;
    /* border: 1px solid crimson; */
}

.button:hover {
    background-color: rgb(255, 106, 80);
    cursor: pointer;
}