.wrapper {
    border-radius:5px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.add {
    background-color:var(--add);
}

.edit {
    background-color:rgb(252, 248, 188);
}

.delete {
    background-color:rgb(255, 147, 128);
}