.wrapper {
    border-radius:5px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.add {
    background-color:var(--add);
}

.edit {
    background-color: var(--edit);
}

.delete {
    background-color:var(--delete);
}