.wrapper {
    max-width: 300px;
    background-color: white;
    padding: 20px;
    margin:10px 0;
}

.title {
    margin-bottom: 25px;
}

.item {
    display: grid;
    grid-template-columns: auto 30px;
}

.page {
    margin-bottom: 15px;
    margin-left: 20px;
}

.page:hover {
    color: grey;
    cursor: pointer;
}

.board:first-child {
    margin-top: 200px;
}

.add {
    padding: 5px 0;
    background-color: var(--add);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-align: center;
    color: var(--addText);


}

.add:hover {
    background-color: var(--addHover);
    cursor: pointer;
}