.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
    min-height: 106px;
    border-radius: 5px;
    max-width: 311px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    margin-right: 10px;
    
    
}

.wrapper:not(:first-child) {
    margin-top: 15px;
}

.wrapper:hover {
    background-color: rgb(252, 252, 252);
    cursor: pointer;
}

.title {
    margin-bottom: 5px;
}

.description {
    margin-bottom: 5px;
}

.date {
    font-size: 12px;
    font-weight: 400px;
    color: #7d7d7d;
}

