.head {
    display: grid;
    grid-template-columns: auto 80px;
    gap: 20px;
    width: 100%;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
}

.form {
    display:grid;
}

.title {
    margin-bottom: 10px;
}

.value {
    height:40px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:#F5F4F7 ; 
}

.input {
    min-height:40px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color:#F5F4F7 ; 
    border: none;
    font-size:15px;
}

.textarea {
    min-height:150px;
    vertical-align: top;
    padding-top:15px;
    font-size:15px;
}

.error {
    color: var(--deleteText);
    margin-bottom: 10px;
}

.cancel {
    background-color:var(--delete);
    border: none;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    float: right;
}

.cancel:hover {
    background-color:var(--deleteHover);
    cursor: pointer;
}

.add {
    background-color:var(--add);
    border: none;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
}

.add:hover {
    background-color: var(--addHover);
    cursor: pointer;
}
