.wrapper {
    display: flex;
}

.column {
    margin: 8px;
  display: flex;
  width: 100%;
  min-height: 80vh;
}

.list {
    min-height: 100px;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  min-width: 341px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-right: 45px;
}

.title {
    color: #10957d;
  background: rgba(16, 149, 125, 0.15);
  padding: 2px 10px;
  border-radius: 5px;
  align-self: flex-start;
}
