.wrapper {
    display: flex;
}

.column {
    margin: 8px;
  display: flex;
  width: 100%;
}

.list {
    min-height: 100px;
  display: flex;
  flex-direction: column;
  min-width: 341px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-right: 45px;
  max-height: 80vh;
  min-height: 80vh;
  overflow-y: hidden;
}

.head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom:10px;
    position: sticky;
    top:0px;
}

.title {
  font-weight: bold;
}

.add {
    padding: 5px 0;
    background-color: rgb(218, 252, 218);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-align: center;
    color: #10957d
}

.add:hover {
    background-color: rgb(188, 252, 188);
    cursor: pointer;
}
