.wrapper {
    display: flex;
}

.new {
  padding: 5px 0;
    background-color: rgb(252, 244, 218);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-align: center;
    color: #939510;
  height: 30px;
  width: 300px;
}

.new:hover {
  cursor: pointer;
  background-color: rgb(252, 248, 188);
}

.column {
    margin: 8px;
  display: flex;
  width: 100%;
}

.list {
    min-height: 100px;
  display: flex;
  flex-direction: column;
  min-width: 341px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-right: 45px;
  max-height: 75vh;
  min-height: 75vh;
  
}

.head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom:10px;
    position: sticky;
    top:0px;
}

.title {
  font-weight: bold;
}

.add {
    padding: 5px 0;
    background-color: rgb(218, 252, 218);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-align: center;
    color: #10957d
}

.add:hover {
    background-color: rgb(188, 252, 188);
    cursor: pointer;
}

.cardsWrapper {
  overflow-y: auto;
  margin-top:20px;
}

.cardsWrapper::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

/* Track */
.cardsWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #F5F4F7; 
}
 
/* Handle */
.cardsWrapper::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 3px;
}

/* Handle on hover */
.cardsWrapper::-webkit-scrollbar-thumb:hover {
  background: #fafafa;
}
