.wrapper {
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: 70px;
}

.header {
    margin: 20px 0;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}