@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

:root {
  --add: rgb(218, 252, 218);
  --addHover: rgb(188, 252, 188);
  --addText: #10957d;
}

a {
  text-decoration: none;
}

.fc {
  background-color:white;
  border-radius: 5px;
  padding: 0 10px;
}