@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

:root {
  --add: rgb(218, 252, 218);
  --addHover: rgb(188, 252, 188);
  --addText: #10957d;
  --edit: rgb(252, 244, 218);
  --editHover: rgb(252, 248, 188);
  --editText: #a9ac1e;
  --delete: rgb(255, 147, 128);
  --deleteHover: rgb(255, 120, 96);
  --deleteText: rgb(124, 19, 0);
}

a {
  text-decoration: none;
}

.fc {
  background-color:white;
  border-radius: 5px;
  padding: 0 10px;
}