.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  place-items: center;
  background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
}